:root {
    /* fonts */
    --body-font: Georgia, 'Times New Roman', Times, serif;
    --heading-font: "Berkshire Swash", Georgia, 'Times New Roman', Times, serif;
    /* colors */
    --color-one: #ffffff;
    --color-two: #2ed0dc;
    --color-three: #c4e8d0;
    --color-four: #948eb8;
    --color-five: #3c283e;
    /* sizes */
    --medium-font: 1.3rem;
}

* {
    margin: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--color-five);
    color: var(--color-one);
    position: relative;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    
}

/* header styles */

header, footer {
    background-color: #3c283e;
    padding: 1rem;
    display: flex;
    align-items: center;
}

header h1, footer h3 {
    color: var(--color-three);
    text-wrap: nowrap;
}

nav {
    color: var(--color-one);
    font-family: var(--heading-font);
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 1rem;
    font-size: var(--medium-font);
    width: 100%;
}

nav a {
    text-decoration: none;
    color: var(--color-one);
}

nav a.current, nav a:hover {
    color: var(--color-two);
}

/* main styles */

main {
    padding: 1rem;
    min-height: calc(100vh - 7rem - 8.8rem);
    background-color: var(--color-four);
}

/* footer styles */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* card holder element styles */
.storyElements {
    max-width: 70%;
    margin: auto;
}

/* card styles */
.card {
    background-color: var(--color-one);
    color: var(--color-five);
    text-align: center;
    width: 100%;
    
    margin: auto;
    border: .2rem solid var(--color-five);
    border-radius: 1rem;
    overflow: hidden;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.protagonist-card, .antagonist-card, .setting-card {
    max-width: 30rem;
}

.card h2 {
    background-color: var(--color-three);
    padding: 1rem;
    border-bottom: .2rem solid var(--color-five);
    margin-bottom: .5rem;
}

.card hr {
    background-color: var(--color-five);
    height: .15rem;
    border: none;
    border-radius: .5rem;
    margin: .5rem;
}

.card button {
    background-color: var(--color-three);
    border: 2px solid var(--color-five);
    padding: .5rem;
    border-radius: .5rem;
    font-family: var(--heading-font);
    font-size: 1.1rem;
}

.card p, .card button {
    margin-bottom: .5rem;
}

.card .details {
    padding: 0 1rem;
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}
.card .details .label {
    font-family: var(--heading-font);
    background-color: var(--color-two);
    padding: .2rem;
    border-radius: .5rem;
    line-height: 2rem;
    margin-right: .3rem;
}

.card .details ul {
    list-style-type: none;
    padding-left: 1.5rem;
}

.card .details .sub-label {
    font-family: var(--heading-font);
}

div.sideCharacters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sideCharacters .card {
    margin: 1rem;
    min-width: 10rem;
    max-width: 18rem;
}

@keyframes card-hover {
    0% {
        background-color: var(--color-three);
    }
    100% {
        background-color: var(--color-two);
    }
}
@keyframes card-out {
    0% {
        background-color: var(--color-two);
    }
    100% {
        background-color: var(--color-three);
    }
}

@keyframes button-hover {
    0% {
        background-color: var(--color-three);
    }
    100% {
        background-color: var(--color-two);
        transform: scale(1.5);
        margin-top: .5rem;
        margin-bottom: 1rem;
    }
}
@keyframes button-out {
    0% {
        transform: scale(1.5);
        margin-top: .5rem;
        margin-bottom: 1rem;
        background-color: var(--color-two);
    }
    100% {
        background-color: var(--color-three);
    }
}

.card.was-hovered:not(.card:hover) h2 {
    animation: card-out 2s forwards;
}
.card:hover h2 {
    animation: card-hover 2s forwards;
}

.card.was-hovered:not(.card:hover) .label {
    animation: card-out 2s reverse forwards;
}
.card:hover .label {
    animation: card-hover 2s reverse forwards;
}

.card button.was-hovered:not(button:hover) {
    animation: button-out 2s forwards;
}
.card button:hover {
    animation: button-hover 2s forwards;
}
